<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
  <power-save>
    <!-- turn on fan when rising above this temperature (in °C) -->
    <start_fan_temperature>60.0</start_fan_temperature>

    <!-- turn off fan when falling below this temperature (in °C) -->
    <stop_fan_temperature>55.0</stop_fan_temperature>

    <!-- start forced system break when rising above this temperature
         (in °C) -->
    <start_cooling_break_temperature>80.0</start_cooling_break_temperature>

    <!-- stop forced system break when falling above this temperature
         (in °C) -->
    <stop_cooling_break_temperature>75.0</stop_cooling_break_temperature>

    <!-- minimum time in µs to sleep after each simulation step -->
    <frame-usleep-min>0</frame-usleep-min>

    <!-- maximum time in µs to sleep after each simulation step -->
    <frame-usleep-max>500000</frame-usleep-max>
  </power-save>
  <kiosk-mode>
    <!-- start application in a window or full screen? -->
    <full-screen>true</full-screen>

    <!-- hide the control window after the specfied amount of
         seconds.  If set to 0, the control window will never hide -->
    <control-autohide-after>4</control-autohide-after>

    <!-- enable / disable the X Window System or Wayland cursor -->
    <enable-cursor>false</enable-cursor>

    <!-- enable / disable display of "quit" button -->
    <enable-button-quit>true</enable-button-quit>

    <!-- enable / disable functionality of "quit" key -->
    <enable-key-quit>true</enable-key-quit>
  </kiosk-mode>
  <key-bindings>
    <!--
        NOTE: Some special keys like Qt::Space, Qt::Key_Left and
        Qt::Key_Right are already caught by the window manager for
        window actions like browsing through the GUI.  Defining
        bindings for these keys in this section will show no effect.
        In doubt, for checking, replace it with a regular key, like
        any of the 26 letter keys.
    -->
    <action>
      <id>Menu</id>
      <keys>
        <key>0x01000055</key> <!-- Qt::Key_Menu -->
        <key>0x010000dc</key> <!-- Qt::Key_MenuKB -->
        <key>0x01000030</key> <!-- Qt::Key_F1 -->
        <key>0x0000003f</key> <!-- Qt::Key_Question -->
        <key>0x00000023</key> <!-- Qt::Key_NumberSign -->
      </keys>
    </action>
    <action>
      <id>Quit</id>
      <keys>
        <key>0x00000051</key> <!-- Qt::Key_Q -->
        <key>0x01000000</key> <!-- Qt::Key_Escape -->
        <key>0x010000b7</key> <!-- Qt::Key_PowerOff -->
        <key>0x0102000a</key> <!-- Qt::Key_Exit -->
      </keys>
    </action>
    <action>
      <id>About</id>
      <keys>
        <key>0x00000041</key> <!-- Qt::Key_A -->
        <key>0x0100011b</key> <!-- Qt::Key_Info -->
      </keys>
    </action>
    <action>
      <id>License</id>
      <keys>
        <key>0x00000043</key> <!-- Qt::Key_C -->
      </keys>
    </action>
    <action>
      <id>Simulation_start_stop</id>
      <keys>
        <key>0x0000004c</key> <!-- Qt::Key_L -->
        <key>0x01000008</key> <!-- Qt::Key_Pause -->
      </keys>
    </action>
    <action>
      <id>Simulation_decrement_gravity</id>
      <keys>
        <key>0x01000017</key> <!-- Qt::Key_PageDown -->
      </keys>
    </action>
    <action>
      <id>Simulation_increment_gravity</id>
      <keys>
        <key>0x01000016</key> <!-- Qt::Key_PageUp -->
      </keys>
    </action>
    <action>
      <id>Image_previous</id>
      <keys>
        <key>0x01000061</key> <!-- Qt::Key_Back -->
        <key>0x01000012</key> <!-- Qt::Key_Left -->
        <key>0x00000050</key> <!-- Qt::Key_P -->
        <key>0x01000002</key> <!-- Qt::Key_Backtab -->
      </keys>
    </action>
    <action>
      <id>Image_reset</id>
      <keys>
        <key>0x00000052</key> <!-- Qt::Key_R -->
      </keys>
    </action>
    <action>
      <id>Image_next</id>
      <keys>
        <key>0x01000062</key> <!-- Qt::Key_Forward -->
        <key>0x0000004e</key> <!-- Qt::Key_N -->
        <key>0x01000014</key> <!-- Qt::Key_Right -->
        <key>0x01000001</key> <!-- Qt::Key_Tab -->
      </keys>
    </action>
    <action>
      <id>Audio_decrement_volume</id>
      <keys>
        <key>0x0000002d</key> <!-- Qt::Key_Minus -->
        <key>0x01000070</key> <!-- Qt::Key_VolumeDown -->
      </keys>
    </action>
    <action>
      <id>Audio_increment_volume</id>
      <keys>
        <key>0x0000002b</key> <!-- Qt::Key_Plus -->
        <key>0x01000072</key> <!-- Qt::Key_VolumeUp -->
      </keys>
    </action>
    <action>
      <id>Audio_mute_unmute</id>
      <keys>
        <key>0x0000004d</key> <!-- Qt::Key_M -->
        <key>0x01000071</key> <!-- Qt::Key_VolumeMute -->
      </keys>
    </action>
  </key-bindings>
  <sensors>
    <!-- if no sensors are available, use fake data, such that the
         simulation still does something observable (useful for
         debugging or demonstration when no sensors are available) -->
    <enable-sensors-fake-data>true</enable-sensors-fake-data>

    <!-- fake value for sensor value "pitch" -->
    <fake-pitch>-2.2</fake-pitch>

    <!-- fake value for sensor value "roll" -->
    <fake-roll>-0.02</fake-roll>

    <!-- fake value for sensor value "acceleration x" -->
    <fake-acceleration-x>-0.02</fake-acceleration-x>

    <!-- fake value for sensor value "acceleration y" -->
    <fake-acceleration-y>0.8</fake-acceleration-y>
  </sensors>
  <simulation>
    <!-- start simulation upon application start? -->
    <start-on-application-start>true</start-on-application-start>

    <!-- integer value in the range [-32…+31] -->
    <initial-gravity>2</initial-gravity>

    <!-- controls how much a sweep affects the particles inertia -->
    <sweep-sensitivity>10.0</sweep-sensitivity>

    <!-- controls the width [1…31] (actually, the radius beyond the
         center line) of sweeps -->
    <sweep-width>5</sweep-width>

    <!-- stop simulation when activity [0.0…1.0] fades out -->
    <stop-below-activity>0.0003</stop-below-activity>

    <!-- but stop only after ramp up time [s] -->
    <check-activity-only-after>10</check-activity-only-after>

    <!-- change image when simulation is paused for more than the
         specified time [s] (special value 0 means: do not perform
         this check)
    -->
    <change-image-when-paused>15</change-image-when-paused>

    <!-- change image when simulation is running for more than the
         specified time [s] (special value 0 means: do not perform
         this check)
    -->
    <change-image-when-running>600</change-image-when-running>
  </simulation>
  <audio>
    <!-- enable / disable audio -->
    <enable-audio>true</enable-audio>

    <!-- global volume correction; should be usually 1.0 -->
    <sample-scale>1.0</sample-scale>

    <!-- samples per second, usually 44100 -->
    <sample-rate>44100</sample-rate>

    <!-- for ordinary stereo, choose 2 channels -->
    <channels>2</channels>

    <!-- if "true", be more verbose on ALSA specific operations -->
    <alsa-verbose>true</alsa-verbose>

    <!-- if "default" does not work, try "plughw:0,0" instead -->
    <alsa-playback-device>default</alsa-playback-device>

    <!-- size of audio buffer in [µs] -->
    <alsa-buffer-time>250000</alsa-buffer-time>

    <!-- period time in [µs] -->
    <alsa-period-time>50000</alsa-period-time>

    <!-- minimum volume is 0.0, maximum volume is 1.0 -->
    <initial-volume>0.5</initial-volume>
  </audio>
  <images>
    <!-- put here the list of images -->
    <image>
      <from-file>
        <!-- file path is relative to the application's current
             directory -->
        <path>paint-it-yourself.png</path>
      </from-file>
    </image>
    <image>
      <from-file>
        <path>strawberry.png</path>
      </from-file>
    </image>
    <image>
      <from-file>
        <path>fields.png</path>
      </from-file>
    </image>
  </images>
</config>
