<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
  <power-save>
    <!-- turn on fan when rising above this temperature (in °C) -->
    <start_fan_temperature>60.0</start_fan_temperature>

    <!-- turn off fan when falling below this temperature (in °C) -->
    <stop_fan_temperature>55.0</stop_fan_temperature>

    <!-- start forced system break when rising above this temperature
         (in °C) -->
    <start_cooling_break_temperature>79.0</start_cooling_break_temperature>

    <!-- stop forced system break when falling above this temperature
         (in °C) -->
    <stop_cooling_break_temperature>60.0</stop_cooling_break_temperature>

    <!-- minimum time in µs to sleep after each simulation step -->
    <frame-usleep-min>0</frame-usleep-min>

    <!-- maximum time in µs to sleep after each simulation step -->
    <frame-usleep-max>100000</frame-usleep-max>
  </power-save>
  <kiosk-mode>
    <!-- hide the control window after the specfied amount of
         seconds.  If set to 0, the control window will never hide -->
    <control-autohide-after>10</control-autohide-after>

    <!-- enable / disable the X Window System or Wayland cursor -->
    <enable-cursor>false</enable-cursor>

    <!-- enable / disable display of "quit" button -->
    <enable-button-quit>true</enable-button-quit>

    <!-- enable / disable functionality of "quit" key -->
    <enable-key-quit>true</enable-key-quit>
  </kiosk-mode>
  <sensors>
    <!-- if no sensors are available, use fake data, such that the
         simulation still does something observable (useful for
         debugging or demonstration when no sensors are available) -->
    <enable-sensors-fake-data>true</enable-sensors-fake-data>

    <!-- fake value for sensor value "pitch" -->
    <fake-pitch>-2.2</fake-pitch>

    <!-- fake value for sensor value "roll" -->
    <fake-roll>-0.02</fake-roll>

    <!-- fake value for sensor value "acceleration x" -->
    <fake-acceleration-x>-0.02</fake-acceleration-x>

    <!-- fake value for sensor value "acceleration y" -->
    <fake-acceleration-y>0.8</fake-acceleration-y>
  </sensors>
  <simulation>
    <!-- start simulation upon application start? -->
    <start-on-application-start>true</start-on-application-start>

    <!-- minimum speed is 0.0, maximum speed is 1.0 -->
    <initial-speed>0.5</initial-speed>
  </simulation>
  <audio>
    <!-- enable / disable audio -->
    <enable-audio>true</enable-audio>

    <!-- minimum volume is 0.0, maximum volume is 1.0 -->
    <initial-volume>0.5</initial-volume>
  </audio>
  <images>
    <!-- put here the list of images -->
    <image>
      <from-file>
        <!-- file path is relative to the application's current
             directory -->
        <path>paint-it-yourself.png</path>
      </from-file>
    </image>
    <image>
      <from-file>
        <path>strawberry.png</path>
      </from-file>
    </image>
    <image>
      <from-file>
        <path>fields.png</path>
      </from-file>
    </image>
  </images>
</config>
